<%= form_for(money_transaction, remote: true) do |f| %>
  <% if money_transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(money_transaction.errors.count, "error") %> prohibited this money_transaction from being saved:</h2>

      <ul>
      <% money_transaction.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.text_field :date, id: "datepicker" %>
  </div>

  <div class="field">
    <%= f.label :money_transaction_type %>
    <%= f.collection_select :money_transaction_type_id, MoneyTransactionType.all, :id, :name %>
  </div>

  <div class="large-10 large-centered columns">
    <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :account %>
    <%= f.collection_select :account_id, Account.all, :id, :name %>
  </div>

  <div class="field">
    <%= f.label :value %>
    <%= f.text_field :value %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<script>
  $('#datepicker').datepicker({format: 'dd.mm.yyyy'});
</script>
