<%= div_for money_transaction do %>
  <div class="large-12 columns border border-box glassy-bg mt pt">
    <strong><%= h(transaction_link(money_transaction)) %></strong><br />
    <sup class="text-muted">From <%= time_ago_in_words(money_transaction.date)%></sup><br />
    <div class="mb pb">
      <%= h(money_transaction.account.name) %>
    </div>
    <div class="tags">
      <%=raw tag_links(money_transaction.all_tags) %>
    </div>
  </div>
<% end %>
