<div class="row text-center">
  <%= form_for(MoneyTransaction.new, remote: true) do |f| %>
    <div class="large-5 large-centered columns">
      <%= f.text_field :date, id: "datepicker", placeholder: "Date" %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.label :money_transaction_type %>
      <%= f.collection_select :money_transaction_type_id, MoneyTransactionType.all, :id, :name %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.text_field :all_tags, placeholder: "Tags separated with comma" %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.label :category %>
      <%= f.collection_select :category_id, Category.all, :id, :name %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.label :account %>
      <%= f.collection_select :account_id, Account.all, :id, :name %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.text_field :value, placeholder: "Value in kn" %>
    </div>

    <div class="large-5 large-centered columns">
      <%= f.text_field :description, placeholder: "Payment description" %>
    </div>
    <div class="large-5 large-centered columns">
      <%= f.submit "MoneyTransaction", class: "button"%>
    </div>
  <% end %>
</div>
<script>
  $('#datepicker').datepicker({format: 'dd.mm.yyyy'});
</script>
