var new_money_transaction = $("<%= escape_javascript(render(partial: @money_transaction))%>").hide();
$('#money_transactions').prepend(new_money_transaction);
$('#money_transaction_<%= @money_transaction.id %>').fadeIn('slow');
$('#new_money_transaction')[0].reset();
