<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
</head>

<p id="notice"><%= notice %></p>

<div class="row mt pt">
  <div class="large-5 columns">
    <div class="top-pad glassy-bg">
      <%= render partial: "money_transactions/new" %>
    </div>
  </div>
  <div class= "large-7 columns" id="money_transactions">
    <%= render partial: @money_transactions.reverse %>
  </div>
</div>

<h1>Money transactions</h1>
<table class="table table-striped">
  <thead class="thead-inverse">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Category</th>
      <th>Account</th>
      <th>Value</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tfoot>
    <tr>
      <td>Income:</td>
      <td><%= @income_transactions.sum(:value) %></td>
    </tr>
    <tr>
      <td>Expences:</td>
      <td><%= @expense_transactions.sum(:value) %></td>
    </tr>
    <tr>
      <td>Net value:</td>
      <td><%= @income_transactions.sum(:value) - @expense_transactions.sum(:value) %></td>
    </tr>
  </tfoot>

  <tbody>
    <% @money_transactions.each do |money_transaction| %>
      <tr>
        <td><%= money_transaction.date %></td>
        <td><%= money_transaction.money_transaction_type.nil? ? "N/A" : money_transaction.money_transaction_type.name %></td>
        <td><%= money_transaction.category.nil? ? "N/A" : money_transaction.category.name %></td>
        <td><%= money_transaction.account.nil? ? "N/A" : money_transaction.account.name %></td>
        <td><%= money_transaction.value %></td>
        <td><%= money_transaction.description %></td>
        <td><%= link_to 'Show', money_transaction %></td>
        <td><%= link_to 'Edit', edit_money_transaction_path(money_transaction) %></td>
        <td><%= link_to 'Destroy', money_transaction, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <tr>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'Add money transaction', new_money_transaction_path %>
