<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @money_transaction.date %>
</p>

<p>
  <strong>Type:</strong>
  <%= @money_transaction.money_transaction_type.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @money_transaction.category.name %>
</p>

<p>
  <strong>Account:</strong>
  <%= @money_transaction.account.name %>
</p>

<p>
  <strong>Value:</strong>
  <%= @money_transaction.value %>
</p>

<p>
  <strong>Description:</strong>
  <%= @money_transaction.description %>
</p>

<%= link_to 'Edit', edit_money_transaction_path(@money_transaction) %> |
<%= link_to 'Back', money_transactions_path %>
